<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>芜湖论坛</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 样式-->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/static/css/prettyPhoto.css"/>
    <link rel="stylesheet" href="/static/css/flexslider.css"/>
    <link rel="stylesheet" href="/static/css/custom-styles.css">

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/style-ie.css"/>
    <![endif]-->

    <!-- Favicons图标 -->
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">

    <!-- js -->
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>

    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/jquery.flexslider.js"></script>
    <script src="/static/js/jquery.custom.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btn-blog-next").click(function () {
                $('#blogCarousel').carousel('next')
            });
            $("#btn-blog-prev").click(function () {
                $('#blogCarousel').carousel('prev')
            });

            $("#btn-client-next").click(function () {
                $('#clientCarousel').carousel('next')
            });
            $("#btn-client-prev").click(function () {
                $('#clientCarousel').carousel('prev')
            });

        });

        $(window).load(function () {

            $('.flexslider').flexslider({
                animation: "slide",
                slideshow: true,
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });

    </script>
</head>

<body class="home" >
    <!-- 最上方两个条子 -->
<div class="color-bar-1"></div>
<div class="color-bar-2 color-bg"></div>

<!-- 中间部分 -->
<div class="container">

    <!-- logo，搜索框，导航栏 -->
    <div class="row header">

        <!-- 左上角图片和logo -->
        <div class="span5 logo" style="width: 250px">
            <h5 style="font-size: 28px">芜 湖 论 坛</h5>
        </div>

        <!-- 导航栏 -->
        <div class="span7 navigation">
            <div class="navbar hidden-phone" style="height: 40px;">

                <ul class="nav">
                    <li ><a  href="/home">主页</a></li>
                    <li><a  href="/publish">发帖</a>&nbsp;</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">看帖 <b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/all-0-0-0">全部帖子</a></li>
                            {% for kind in kinds %}
                                <li><a href="/all-{{ kind.id }}-0-0">{{ kind.k_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                    {% if uid %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">{{ uid }}，欢迎你<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            <li><a href="/edit-pwd">修改密码</a></li>
                            </ul>
                        </li>

                        <li><a href="/login">退出</a></li>
                    {% else %}
                        <li class="active"><a  href="/login">登录</a></li>
                    {% endif %}


                </ul>

            </div>

            <!-- 移动端导航 -->
            <form action="#" id="mobile-nav" class="visible-phone">
                <div class="mobile-nav-select">
                    <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                        <option value="">导航栏</option>
                        <option value="/home">主页</option>
                        <option value="/publish">发帖</option>
                        <option value="/all-0-0-0">看帖</option>
                        <option value="/all-0-0-0">全部帖子</option>
                        {% for kind in kinds %}
                            <option value="/all-{{ kind.id }}-0-0">- {{ kind.k_name }}</option>
                        {% endfor %}

                        {% if uid %}
                        <option value="/login">退出</option>
                        {% else %}
                        <option value="/login">登录</option>
                        {% endif %}
                    </select>
                </div>
            </form>

        </div>
    </div>
    <!-- 3个结束-->



<div style="width: 100%;height: 60%;">
    <div style="width: 300px; height: 100px; margin: 0 auto;margin-top: 15%;margin-bottom: 20%;">
        <div class="span4">
            <a href="/my-admin">管理员登录></a>
            <div class="input-prepend" style="width: 300px;">
                <span class="add-on">账号：    </span><input style="width: 220px" class="span2" id="uid"
                                                      size="16" type="text"
                                                      placeholder="账号">
            </div>
            <div class="input-prepend">
                <span class="add-on">密码：    </span><input style="width: 220px" class="span2" id="pwd"
                                                      size="16" type="password"
                                                      placeholder="密码">
            </div>
            <div class="input-prepend">
                <span class="add-on" >验证码：  <input style="width: 204px" class="span2" id="ckc"
                                                      size="16" type="ccode"
                                                      placeholder=" 请输入验证码">

                    <canvas width="100" height="40" id="verifyCanvas"></canvas>
                    <img id="code_img">
                </span>
            </div>
            <div id="register" >

                <div v-if="displa">
                    <div class="input-prepend" >
                        <span class="add-on" id="sex">
                            <select>
                              <option value="男">男</option>
                              <option value="女">女</option>
                            </select>
                        </span>
                    </div>
                    <div class="input-prepend" >
                        <span class="add-on">地区：    </span><input style="width: 220px" class="span2" id="area"
                                                            size="16" type="str"
                                                            placeholder="北京">
                    </div>
                    <div class="input-prepend" >
                        <span class="add-on">电子邮箱：</span><input style="width: 193px" class="span2" id="e-mail"
                                                            size="16" type="str"
                                                            placeholder="qq.com">
                    </div>
                    <div class="input-prepend" >
                        <span class="add-on">年龄：    </span><input style="width: 220px" class="span2" id="age"
                                                            size="16" type="str"
                                                            placeholder="年龄">
                    </div>
                </div>

                <div style="width: 300px;padding: 20px;margin: 0 auto;">
                    <button id="login-button" style="margin-right: 20px;margin-left: 20px;" class="btn btn-large" type="submit" v-if='!displa' onclick="logina()">登录
                    </button>
                    <button style="margin-right: 20px;margin-left: 20px;" class="btn btn-large btn-inverse" @click="clic" v-if='!displa'>注册展开
                    </button>
                    <button style="margin-right: 20px;margin-left: 20px;" class="btn btn-large" type="submit" @click="clica" v-if='displa' >登录展开
                    </button>
                    <button id="register-button" style="margin-right: 20px;margin-left: 20px;" class="btn btn-large btn-inverse"
                            type="submit" onclick="a()" v-if="displa">注册
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- 结尾部分 -->
<div class="footer-container">
    <div class="container">
        <div style="margin-top: 30px" class="row">
            <div class="span12 footer-col footer-sub">
                <div class="row no-margin">
                    <div class="span6"><span class="left">一个论坛</span>
                    </div>
                    <div class="span6">
                            <span class="right">
                           <a href="/home">主页</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/all-0-0-0">全部</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a
                                    href="/login">登录</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a
                                    href="#">联系我们</a>
                            </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- 尾部结束 -->

<!-- 回到顶端 -->
<div id="toTop" class="hidden-phone hidden-tablet">回到顶端</div>

<script>

    const app=new Vue({
        el:'#register',
        data:{
            message:'hhhhhhh',
            displa:false
        },
        methods :{
            clic(){
                this.displa=true
                console.log('message');
            },
            clica(){
                this.displa=false
                console.log('message');
            }
        }

    })
function logina() {
        console.log('message')
       var uid = $('#uid').val();
        var ckc = $('#ckc').val().toLowerCase();
       var pwd = $('#pwd').val();

       $.ajax({
            url: window.location.href,
            type: "POST",
            data: {'type': 'login','uid': uid, 'pwd': pwd,'ckc':ckc,'ckcc':c},
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");    // csrf
            },
            success: function (data) {
                // data是服务器端返回的字符串
                var dic = JSON.parse(data)
                if (!dic.status) alert(JSON.parse(data).msg);
                else window.location.href="/home";
            }
        });
    };

    function a() {
        console.log('message')
       var uid = $('#uid').val();
       var pwd = $('#pwd').val();
       var email = $('#e-mail').val();
       var age = $('#age').val();
       var area = $('#area').val();
       var sex = $('#sex').val();
        var ckc=$('#ckc').val().toLowerCase();
        var ckcc=c;

       $.ajax({
            url: window.location.href,
            type: "POST",
            data: {'type': 'register','uid': uid, 'pwd': pwd,'email':email,'age':age,'area':area,'sex':sex,ckc:ckc,'ckcc':ckcc},
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");    // csrf
            },
            success: function (data) {
                // data是服务器端返回的字符串
                var dic = JSON.parse(data)
                if (!dic.status) alert(JSON.parse(data).msg);
                else window.location.href="/home";
            }
        });
    };
    b=drawCode()
    var c =""
    for(let i=0;i<b.length;i++){
        c+=b[i].toLowerCase()
    }
    function drawCode() {
     const nums = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "0", 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R',
'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x',
'y', 'z'];
    var canvas = document.getElementById("verifyCanvas");  //获取HTML端画布
    var context = canvas.getContext("2d");                 //获取画布2D上下文
    context.fillStyle = "cornflowerblue";                  //画布填充色
    context.fillRect(0, 0, canvas.width, canvas.height);   //清空画布
    context.fillStyle = "black";                           //设置字体颜色
    context.font = "30px Arial";                           //设置字体
    var rand = [];
    var x = [];
    var y = [];
    for (let i = 0; i < 5; i++) {
        rand[i] = nums[Math.floor(Math.random() * nums.length)]
        x[i] = i * 16 + 10;
        y[i] = Math.random() * 20 + 20;
        context.fillText(rand[i], x[i], y[i]);
    }
    //画3条随机线
    for (let i = 0; i < 3; i++) {
        drawline(canvas, context);
    }
    // 画30个随机点
    for (let i = 0; i < 30; i++) {
        drawDot(canvas, context);
    }
    convertCanvasToImage(canvas)
    return rand
}
console.log(a);
// 随机线
function drawline(canvas, context) {
    context.moveTo(Math.floor(Math.random() * canvas.width), Math.floor(Math.random() * canvas.height));             //随机线的起点x坐标是画布x坐标0位置，y坐标是画布高度的随机数
    context.lineTo(Math.floor(Math.random() * canvas.width), Math.floor(Math.random() * canvas.height));  //随机线的终点x坐标是画布宽度，y坐标是画布高度的随机数
    context.lineWidth = 0.5;                                                  //随机线宽
    context.strokeStyle = 'rgba(50,50,50,0.3)';                               //随机线描边属性
    context.stroke();                                                         //描边，即起点描到终点
}
// 随机点(所谓画点其实就是画1px像素的线，方法不再赘述)
function drawDot(canvas, context) {
    var px = Math.floor(Math.random() * canvas.width);
    var py = Math.floor(Math.random() * canvas.height);
    context.moveTo(px, py);
    context.lineTo(px + 1, py + 1);
    context.lineWidth = 0.2;
    context.stroke();

}
// 绘制图片
function convertCanvasToImage(canvas) {
    document.getElementById("verifyCanvas").style.display = "none";
    var image = document.getElementById("code_img");
    image.src = canvas.toDataURL("image/png");
    return image;

}

// 点击图片刷新
document.getElementById('code_img').onclick = function () {
    $('#verifyCanvas').remove();
    $('#ckc').after('<canvas width="100" height="40" id="verifyCanvas"></canvas>')
    ;
    drawCode();
    b=drawCode()
    b=b.toLowerCase()
     c =""
    for(let i=0;i<b.length;i++){
        c+=b[i]
    }
    console.log(c);
}
</script>

</body>
</html>
